<!-- <p>user-profile works!</p>
<h2>{{name}}</h2> <!--interpolation -->
<!-- <button [disabled]="isdisabled">Click Me!</button> <!-- property binding -->
<!-- <input type="text" [value]="name" (change)="onChange($event)"> event binding , $ for input -->
<!-- 2 way data binding -->
<!-- <h2>{{age}}</h2>
<input type="text" [(ngModel)]="age"> <!-- Banana interbox -->

<!-- @for(user of users;track user){ -->
    <!-- @if(user.name == "Hammad") -->
    <!-- { -->
<!-- <h1>Name : {{ user.name }}</h1> -->
    <!-- } -->
<!-- } -->

<!-- <h1 appHighlights>Name : {{name | uppercase}} with {{age | age:"2"}}</h1>   pipe -->
<!-- <button  [style.backgroundColor]="bgcolor" (click) = "send_data()">Send Data</button>
<button (click) = "clear()">destroy</button> -->

